body {
    background-color: #E6E6E6;
}

body,
input {
    font: 1em "Open Sans", sans-serif;
    color: #363639;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed #363639;
}

/* List */
.list {
    background-color: white;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;

}

.list .header {
    font-family: "Fruktur", cursive;
    margin: 0 0 10px 0;

}

/* Elements */
.elements {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.elements li:hover .button-done {
    opacity: 1;
}

.elements .element.done {
    text-decoration: line-through;
}

.elements li,
.element-add .input {
    border: 0;
    border-bottom: 1px dashed #ccc;
    padding: 15px 0;
}

.input {
    width: 100%;
}

.input:focus {
    outline: none;
}

/* Boutton terminée */

.button-done {
    display: inline-block;
    font-size: .8em;
    background-color: #C6C6C6;
    color: #363639;
    padding: 3px 6px;
    border: 0;
    opacity: .4;
}

/* bouton d'envoi */
.submit {
    background-color: white;
    padding: 5px 10px;
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
    box-shadow: 3px 3px 0 black;
}